<!-- <p id="notice"><%= notice %></p> -->

<h1>Links</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th colspan="3"></th>
      <!-- <th colspan="7"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link.title %></td>
        <td><%= link.url %></td>
        <td><%= link_to 'Show', link %></td>

        <% if link.user == current_user %>
        <%# if user_signed_in? %>
          <!-- CAREFUL !!! -->
          <!-- As features are added, do old records have the newly required data ??? -->
          <td><%= link_to 'Edit', edit_link_path(link) %></td>
          <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

        <!-- <td><%#= "link.user: #{link.user.inspect}" %></td> -->
        <!-- <td><%#= "current_user: #{current_user.inspect}" %></td> -->
        <!-- <td><%#= "link.user == current_user: #{link.user == current_user}" %></td> -->
        <!-- <td><%#= "user_signed_in?: #{user_signed_in?}" %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>
